<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Linkzinho</title>
    <style>
        @font-face {
          font-family: "Yantramanav";
          src: url('assets/Yantramanav/Yantramanav-Regular.ttf') format('truetype')
        }
        * {
            box-sizing: border-box;
        }
    
        body {
            display: flex;
            flex-direction: column;
            text-align: center;
            background-color: #120c02;
            font-family: "Yantramanav", sans-serif;
            font-size: 1.6rem;
            color: #fceede;
            padding: 0 1ch;
        }
    </style>
</head>

<body>
    <h1 style="font-size: 3em; color: #f4cb83; text-decoration: underline;">Seu Linkzinho</h1>
    <div>
        <h2 class="d-inline-block">Aqui vvv</h2>
        <p>{{link}}</p>
    </div>
</body>

</html>
